*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav{
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks{
    display: none;
}

/* Styling navigation menu links */
.topnav a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon{
    background: red;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
/* Hover effects on anchor */
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.active{
    background-color: #04AA6D;
    color: white;
}
.logoImg {
    width: 20px;
    height: 20px;
    background: url('./img/4.jpeg');
    background-position: center;
    background-size: cover;
}
.topnav{
    display: none;
}
nav{
    background: gray;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 14px 16px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header{
    height: 350px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('./img/background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
header p{
    margin: 0 40px;
}
#about {
    padding: 50px;
    color: #808080;
}
#about h1{
    margin-bottom: 8px;
}
#about p{
    margin-bottom: 15px;
    line-height: 1.4;
    color: #808080;
}
#about p a{
    text-decoration: none;
    color: coral;
}
#contact{
    padding: 50px;
    background: #ccc;
}
#contact h1{
    margin-bottom: 15px;

}
#contact p{
    margin-bottom: 15px;
    color: #606060;
    line-height: 1.4;
}
#contact h3{
    margin: 10px 0;
    color: #606060;
    margin-bottom: 25px;
}
.social{
    width: 200px;
    margin: 0 auto;
}

.fa-facebook {
    color:#3b5998;
    font-size: 25px;
}
.fa-whatsapp {
    color:#25d366;
    font-size: 25px;
}
.fa-twitter {
    color:#00ACEE;
    font-size: 25px;
}
.fa-instagram {
    color:#5851DB;
    font-size: 25px;
}
#news{
    padding: 50px;
}
#news h1{
    margin-bottom: 20px;
    color: #808080;
}
#news p{
    color: #808080;
    line-height: 1.4;
}
#news h3{
    color: #606060;
    margin-bottom: 20px;
}
#news ul{
    margin-left: 50px;
}
#news ul li{
    margin-bottom: 10px;
}
#news ul li a{
    text-decoration: none;
    color: coral;
}

#services h1{
    margin: 15px;
}
.wrapper{
    display: flex;
}
.col{
    width: 50%;
    height: 400px;
}
.col1{
    background: url('./img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.col2{
    background: url('./img/4.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}









@media screen and (max-width:600px){
    .topnav{
        display: block;
    }
    nav{
        display: none;
    }
    header h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    header p{
        text-align: center;
    }
    .wrapper{
        flex-direction: column;
    }
    .col1{
        width: 100%;
    }
    .col2{
        width: 100%;
        margin-top: 10px;
    }
}